@font-face {
  font-family: 'Geomanist';
  src: url('/fonts/Geomanist/Geomanist-Regular.woff2') format('woff2'),
       url('/fonts/Geomanist/Geomanist-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
